<section>
    <div class="row">
        <div class="container mt-4">
            <div class="col-md-12 text-center">
                <h1>Order placed successfully</h1>
                <h2>Thankyou for ordering :)</h2>
                <a href="/orders" class="btn btn-primary">View orders</a>
            </div>
        </div>
    </div>
</section>